{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}
    Изменение поста
{% endblock %}

{% block main %}
    <div class="container d-flex flex-column">
        {% if is_editting %}   
            <form method="post" action="{% url 'posts:update' post.id %}" enctype="multipart/form-data">
        {% else %}
            <form method="post" action="{% url 'posts:create' %}" enctype="multipart/form-data">
        {% endif %}
            {% csrf_token %}
            {% bootstrap_form form %}
            <!-- <div class="mb-3">
                <label for="title-input" class="form-label">
                    Название поста
                </label>
                <input class="form-control" name="title" required id="title-input" value="{{post.title}}">
            </div>
            <div class="mb-3">
                <label for="description-input" class="form-label">
                    Описание поста
                </label>
                <textarea class="form-control" name="description" required id="description-input" rows="3">{{post.description}}</textarea>
            </div>
            <div class="mb-3">
                <label for="text-input" class="form-label">
                    Текст поста
                </label>
                <textarea class="form-control" name="text" id="text-input" rows="3">{{post.text}}</textarea>
            </div>
            <div class="mb-3">
                <label for="image-input" class="form-label">
                    Картинка
                </label>
                <input class="form-control" name="image" type="file" required id="image-input">
            </div>
            <div class="mb-3">
                <label for="keyword-input" class="form-label">
                    Ключевые слова
                </label>
                <select class="form-select" name="keywords" multiple id="keyword-input">
                    {% for keyword in keywords %}
                        <option value="{{keyword.id}}" {% if keyword.id in post.keywords %} selected {% endif %}>
                            {{keyword.name}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-primary" type="submit">
                Отправить
            </button> -->
            {% bootstrap_button button_type="submit" content="Отправить" %}
        </form>
    </div>
{% endblock %}